<div class="container">
    <h1>Danh sách tài liệu</h1>
    <ul class="list-group">
        <li class="list-group-item">Vật lý đại cương 1</li>
        <li class="list-group-item">Vật lý đại cương 2</li>
        <li class="list-group-item">Vật lý đại cương 3</li>
        <li class="list-group-item">Vật lý đại hiện</li>
    </ul>
</div>