<div class="container">
    <h1>Thêm mới một tài liệu</h1>
    <form>
        <div class="mb-3">
            <label for="eventNameInput" class="form-label">Tên tài liệu</label>
            <input type="text" class="form-control" id="eventNameInput">
        </div>
        <div class="mb-3">
            <label for="eventTimeInput" class="form-label">Môn học</label>
            <input type="text" class="form-control" id="eventTimeInput">
        </div>
        <div class="mb-3">
            <label for="eventLocationInput" class="form-label">Đường dẫn</label>
            <input type="text" class="form-control" id="eventLocationInput">
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>