<div class="container">
    <h1>Danh sách hoạt động</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tên hoạt động</th>
                <th scope="col">Thời gian</th>
                <th scope="col">Địa điểm</th>
            </tr>
        </thead>
        <tbody>
            {{#each events}}
            <tr>
                <td scope="row">{{this.name}} {{this.semester}}</td>
                <td scope="row">{{this.datetime}}</td>
                <td scope="row">{{this.location}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>