<div class="container">
    <h1>Danh sách hoạt động</h1>
    <ul class="list-group">
        <li class="list-group-item">Ôn thi giữa kỳ 1</li>
        <li class="list-group-item">Ôn thi cuối kỳ 1</li>
        <li class="list-group-item">Ôn thi giữa kỳ 2</li>
        <li class="list-group-item">Ôn thi cuối kỳ 2</li>
    </ul>
</div>