<div class="container">
    <h1>Thêm mới một hoạt động</h1>
    <form>
        <div class="mb-3">
            <label for="eventNameInput" class="form-label">Tên hoạt động</label>
            <input type="text" class="form-control" id="eventNameInput">
        </div>
        <div class="mb-3">
            <label for="eventTimeInput" class="form-label">Thời gian</label>
            <input type="text" class="form-control" id="eventTimeInput">
        </div>
        <div class="mb-3">
            <label for="eventLocationInput" class="form-label">Địa điểm</label>
            <input type="text" class="form-control" id="eventLocationInput">
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>