<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Aleister's botchat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Hoạt động
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/event/list">Quản lý hoạt động</a></li>
                        <li><a class="dropdown-item" href="/event/add">Thêm hoạt động</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Tài liệu
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/material/list">Quản lý tài liệu</a></li>
                        <li><a class="dropdown-item" href="/material/add">Thêm tài liệu</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>